@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  padding: 0 4rem;
  @media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    padding: 0 30px;
  }
}

//vars
$default-black:#000;
$default-white:#fff;
$default-gray: #F4F4F4;

