.home{
  background-color: $default-black;
  color: $default-white;
    &__title{
      font-size: 3.75rem;
      font-weight: 600;
      margin: 7rem 0 .7rem;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 244px;
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
        &__skeleton{
          height: 35px;
          margin-bottom: 30px;
          &.first{
            margin-top: 7rem;
          }
        }
    }

  &__content{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas:
    "home__content__left home__content__right";
    padding-top: 17px;
    padding-bottom: 49px;
      &__left{
        padding-right: 8rem;
      }
      &__thumbs{
        display: flex;
        margin: 6rem 0 0 0;
          &__thumb{
            width: 25%;
            height: 4.438rem;
            margin-right: 15px;
            cursor: pointer;
            border: 3px solid transparent;
              img{
                width: 100%;
                height: 100%;
              }
            &.active{
              border: 3px solid $default-white;
            }
          }

      }
    &__btn-more{
      border-radius: 50px;
      font-weight: 600;
      font-size: 15px;
      margin-top: 30px;
    }
  }
}